*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-font-family: 'Montserrat', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
}

body {
    font-family: var(--body-font-family);
    color: #434455;
    background-color: #ffffff;
  }

  h2 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  div {
    display: block;
  }
  
  ul {
    padding: 0%;
  }

  .header-section {
    display: flex;
    justify-content: left;
    height: 72px;
  }
  
  .nav-elements {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }